<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
    <title>Go-SQL Backend MVP</title>
</head>
<body>
    <div>
        <center>
            <h1>Go-SQL Backend MVP</h1>
            <p><i><q>A prototype of a library system. Built with Go, PostgreSQL and Docker.</q></i></p>
        </center>
    </div>
    <hr>
    <div>
        <center>
            <button type="button"><a href="/users">Go to Users Table.</a></button>
        </center>
    </div>
</body>
</html>