<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
    <title>Users | Go-SQL Backend MVP</title>
</head>
<body>
    <div title="back-btn">
        <button type="button"><a href="/">back</a></button>
    </div>
    <div class="title">
        <center><h1>Users Table</h1></center>
    </div>
    <div class="mdc-data-table__table-container">
        <table class="mdc-data-table__table" aria-label="Users Table">
            <thead>
                <tr class="mdc-data-table__header-row">
                    <th class="mdc-data-table__cell mdc-data-table__cell--numeric" role="columnheader" scope="col">ID</th>
                    <th class="mdc-data-table__header-cell" role="columnheader" scope="col">Name</th>
                    <th class="mdc-data-table__header-cell" role="columnheader" scope="col">E-mail</th>
                </tr>
            </thead>
            <tbody class="mdc-data-table__content">
                {{range .Users}}
                <tr class="mdc-data-table__row">
                    <td class="mdc-data-table__cell mdc-data-table__cell--numeric">{{.ID}}</td>
                    <th class="mdc-data-table__cell">{{.Name}}</th>
                    <th class="mdc-data-table__cell">{{.Email}}</th>
                </tr>
                {{end}}
            </tbody>
        </table>
    </div>
</body>
</html>